.boton-menu {
    background: rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 46px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    margin-bottom: 5px;
    color: white;
    
}

.boton-profile {
    color: black;
    background: #FFFFFF;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

